body {
  font-family: robot, lato !important;
  font-size: large;
}

.logo {
  height: 43px;
}

.navbar-brand {
  font-size: 27px;
  padding-left: 10px;
  font-family: "Lato";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item a {
  color: gray !important;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.nav-item {
  padding: 0 10px;
}

.signin-img {
  height: 390px;
  border: 25px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}

textarea:focus,
input:focus {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.jumbotron {
  background-color: white;
}
